<!-- Start Top Bar -->
<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">Junkiri</li>
      <li><a href="/admin/nodes">Nodes</a></li>
      <li><a href="/admin/switches">Switches</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="has-submenu">
        <a href="#">Settings</a>
        <ul class="submenu menu vertical" data-submenu>
          <li><a href="/admin/areas">Area</a></li>
          <li><a href="/admin/floors">Floor</a></li>
          <li><a href="/admin/change-password">Change password</a></li>
        </ul>
      </li>
      <li><a href="/admin/logout">Logout</a></li>
    </ul>
  </div>
</div>
<!-- End Top Bar -->
