<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">Junkiri</li>
    </ul>
  </div>
  <div class="top-bar-right" id="app-status">
    Connecting...
  </div>
</div>

<div class="row">
  <div id="switch-panel">
  </div>
</div>

<template id="tab">
  <h5></h5>
  <div>
    <ul class="tabs" data-tabs>
    </ul>
    <div class="tabs-content">
    </div>
  </div>
  <br>
</template>

<template id="tabs-panel">
  <div class="tabs-panel">
  </div>
</template>

<template id="li">
  <li class="tabs-title">
    <a href=""></a>
  </li>
</template>

<template id="switch">
  <span></span>
  <div class="switch small">
    <input class="switch-input" type="checkbox">
    <label class="switch-paddle">
      <span class="show-for-sr">Small Portions Only</span>
    </label>
  </div>
</template>

<script src="/js/junkiri.js"></script>
<script src="/js/websocket.js"></script>
