{{> nav}}

<div class="row">
  <h5>{{form.title}}</h5>
  <form data-abide novalidate  method="POST" action="{{{form.action}}}">

    <div class="row">
      <div class="medium-6 columns">
        {{>callout this}}
      </div>
    </div>

    <div class="row">
      <div class="medium-6 columns">
        <div data-abide-error class="alert callout" style="display: none;">
          <p><i class="fi-alert"></i> Some fields are invalid.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="medium-6 columns">
        <label>Username<span class="required">*</span>
          <input type="text" placeholder="" required name="username" pattern="^[a-zA-Z0-9]*$" value="{{form.value.username}}">
          <span class="form-error">
            Enter new user name.
          </span>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="medium-6 columns">
        <label>Password<span class="required">*</span>
          <input type="password" placeholder="" required name="pwd">
          <span class="form-error">
            Enter new password.
          </span>
        </label>
      </div>
    </div>
    <div class="row">
      <fieldset class="medium-6 columns">
        <button class="button" type="submit" value="Submit">Change</button>
      </fieldset>
    </div>
  </form>
</div>
